<!--
Britni Canale
SoftDev1 pd06
K13 -- Echo Echo Echo
2018-09-27
-->

<!-- AUTHORIZATION/ECHO PAGE-->

<!DOCTYPE>

<html>

  <title>Welcome</title>

  <body>

    <h1 style="text-align:center;"> Hello </h1>

    <p style="font-size:100%;text-align:center;"> Welcome {{first}} {{last}} <br> Request Type: {{req}}</p>  <!-- Using JINJA to take inputs from form and put in authorize page -->

    <p style="font-size:500%;"> {{first}} {{last}} </p><br><br>                     <!-- echo (just for fun) (next three lines) -->

    <p style="font-size:300%;text-align:center;">{{first}} {{last}} </p><br><br>

    <p style="font-size:100%;text-align:right;">{{first}} {{last}} </p><br><br>

  </body>

</html>
