<!--
Britni Canale
SoftDev1 pd06
K13 -- Echo Echo Echo
2018-09-27
-->


<!-- FORM PAGE -->


<!DOCTYPE>
<html>
  
  <title>Form</title>
  
  <body style="text-align:center;" >                           <!-- Centering body-->
    
    <p style="font-size:150%;"> Please fill out this form with the requested information</p>  
    
    <form action="/auth"  id="name" style="font-size:100%;" method="GET">  <!-- Creating form with route to  auth, giving it id "name"-->
      
      First Name: <input type="text" name="fname"><br><br>    <!-- First text field-->
      
      Last Name: <input type="text" name="lname"><br><br>     <!-- Second text field-->
      
      <button href="/auth" inputtype="button" form="name" value="Submit">SUBMIT</button>  <!-- Creating button with link to /auth, linking it to form-->
      
    </form>
    
  </body>
  
</html>
